.container {
    padding: 16px;

    .lista {
        max-width: 960px;
        margin: auto;

        .subheader-icon {
            padding: 16px 0 16px 16px;
            opacity: 0.54;
        }
    }
}
