@import "~@angular/material/theming";
@include mat-core();

$ArtStore-primary: mat-palette($mat-teal);
$ArtStore-accent: mat-palette($mat-blue, A200, A100, A400);
$ArtStore-warn: mat-palette($mat-deep-orange);

$ArtStore-theme: mat-light-theme($ArtStore-primary, $ArtStore-accent, $ArtStore-warn);

@include angular-material-theme($ArtStore-theme);

$primary: map-get($ArtStore-theme, primary);
$foreground: map-get($ArtStore-theme, foreground);

html,
body {
    height: 100%;
    background-color: #eeeeee;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
    padding: 16px;

    mat-card {
        max-width: 960px;
        margin: auto;

        .avatar {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);
        }
    }

    .spinner-container {
        margin: auto;
        margin-right: 8px;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .conteudo {
        max-width: 960px;
        margin: auto;
    }
}

.mat-snack-bar-container {
    background-color: #4caf50;
    min-width: auto !important;
}
